<h1>Search results for "<%= @query %>"</h1>

<table>
  <% @tracks.each do |track| %>
    <tr>
      <td><%= track.name %></td>
      <td><%= track.artists.map(&:name).to_sentence %></td>
      <td><%= track.album.name %></td>
    </tr>
  <% end %>
</table>