<form class="new_list">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="How many contributers for this list?">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="1st contributer name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="2nd contributer name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="3rd contributer name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="4th contributer name">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default">Submit</button>
  </div>
</form>