<div class="centered_jumbotron">
  <div class="jumbotron">
    <ul>
      <li>
        Some Other Playlist,
      </li>
      <li>
        Yet More Playlists,
      </li>
      <li>
        Not a Playlist, Just Kidding,
      </li>
      <li>
        Definitley a Playlist,
      </li>
      <li>
        Lorem ipsum Playlist Something,
      </li>
      <li>
        Playlist,
      </li>
      <li>
        Play,
      </li>
      <li>
        List,
      </li>
      <li>
        Yeah,
      </li>
      <li>
        Some Playlist,
      </li>
      <li>
        Some Other Playlist,
      </li>
      <li>
        Yet More Playlists,
      </li>
      <li>
        Not a Playlist, Just Kidding,
      </li>
      <li>
        Definitley a Playlist,
      </li>
      <li>
        Lorem ipsum Playlist Something,
      </li>
      <li>
        Playlist,
      </li>
      <li>
        Play,
      </li>
      <li>
        List,
      </li>
      <li>
        Yeah,
      </li><li>
        Some Playlist,
      </li>
      <li>
        Some Other Playlist,
      </li>
      <li>
        Yet More Playlists,
      </li>
      <li>
        Not a Playlist, Just Kidding,
      </li>
      <li>
        Definitley a Playlist,
      </li>
      <li>
        Lorem ipsum Playlist Something,
      </li>
      <li>
        Playlist,
      </li>
      <li>
        Play,
      </li>
      <li>
        List,
      </li>
      <li>
        Yeah,
      </li>
    </ul>
  </div>
</div>