/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  position: relative;
  min-height: 100%
}

body {
  font-family: 'Quicksand', sans-serif;
  margin-top: 30px;
  margin-bottom: 90px;
  padding-bottom: none;
}

.landing_page {
  padding-top: 10px;
}

.sign_in {
  text-align: center;
  margin-top: 5%
}

.player {
  display: inline-block;
  float: right;
  margin-left: 100px;
  margin-top: 20px;
}

.party_nav {
  font-family: 'Satisfy', cursive;
}

#martini {
  margin-left: 10px;
}

.martini_small{
  float: left;
  margin-top: 4px;
}

.welcome {
  margin-left: 20px;
}

.navbar-collapse {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
}

#dinner_party {
  font-size: 24pt;
  font-family: 'Satisfy', cursive;
  color: #FF0000;
}

.party_image {
  display: inline-block;
  text-align: right;
  margin-top: 25px;
  margin-left: 150px;
}

#spacer {
  padding-right: 20px;
}

#nav_user {
  text-align: right;
}

#sign_out {
  text-align: right;
}

.navbar-toggle{
  position:relative;
  float:right;
  padding:9px 5px;
  margin-top:8px;
  margin-right:12px;
  margin-bottom:8px;
  background-color: black;
  background-image:none;
  border-radius:4px;
  border: 1px solid #444;
}

.icon-bar{
  display:block;
  width:16px;
  height:2px;
  border-radius:1px;
  border:1px solid white;
}

.root{
  display: block;
  float: left;
  font-family: 'Satisfy', cursive;
  font-size: 18pt;
  margin-left: 5px;
  margin-top: 8px;
  color: #FF0000;
}

.playlist_choice {
  text-align: center;
  padding-top: 120px; 
}

.search_spotify {
  max-width: 400px;
  max-height: 25px;
  margin-top: 200px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  margin-bottom: 0px;
}

.footer_right {
  text-align: right;
  display: inline-block;
  float: right;
  padding-top: 35px;
}

.my_name {
  font-family: 'Satisfy', cursive;
} 

.turn {
  font-family: 'Satisfy', cursive;
  font-size: 52px;
  color: #FF0000;
}

.jumbotron{
  text-align: center;
  margin-top: 20px;
  max-height: 500px;
  overflow: auto;
  background: linear-gradient(#CAFB78, #b7fb83);

}

.jumbotron_title {
  font-weight: bold;
  font-family: 'Satisfy', cursive;
  text-align: center;
}

.jumbotron ul, {
  list-style: none;
}

.jumbotron ul li {
  display: inline-block;
  font-size: 24pt;
}

.user_lists_l {
  float: left;
}

.user_lists_r {
  float: right;
}

.user_lists_l td {
font-size: 18pt;
}

.user_lists_r td {
  font-size: 18pt;
}

.user_lists_r th {

}

ul li:last-child { 
  border: none;
}

ol li {
  border-bottom: solid 1px;
}

ol li:last-child {
  border: none;
}

.currently_playing, .add_to_playlist { 
  padding: 10px;
  background: linear-gradient(#CAFB78, #b7fb83);
  border-radius: 5px;
  overflow: auto;
}

.currently_playing h3 {
  text-align: center;
}

.playlist_show {
  margin-top: 10px;
}

#search_items {
  font-family: 'Satisfy', cursive;
  color: #FF0000;
}

#track_contributer {
  font-size: 10pt;
}

.currently_playing td {
  padding-left: 2px;
  padding-right: 2px;
}

.currently_playing tfoot td {
  padding-top: 3px;
  font-size: 8pt;
  text-align: right;
  vertical-align: bottom;
}

.drummer {
  float: right;
}

.add_to_playlist h2 {
  margin-bottom: -16px;
}

.add_to_playlist h4 {
  margin-top: 0px;
}

